@using Ecommerce.UI.ViewModel
@model ProductCategoryModel

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/ProductDetail.css" rel="stylesheet" />

<div class="container">
    <div class="product-image">
        <img src="~/Images/@Model.Product.ProductImage" alt="" class="product-pic">
    </div>

    <div class="product-details">
        <header>
            @foreach (var item in Model.Categories)
            {
                <a asp-controller="Store" asp-action="Index" asp-route-category="@item.Url" style="color:black">@item.CategoryName |</a>
            }
            <hr />
            <h1 class="title">@Model.Product.ProductName</h1>
            <div class="price">
                <span class="current">$ @Model.Product.ProductPrice</span>
            </div>
        </header>
        <article>
            <h5>Description</h5>
            <p>@Html.Raw(@Model.Product.ProductDescription)</p>
        </article>

        <form asp-controller="Cart" asp-action="AddToCart" method="post">
            <input type="hidden" name="ProductId" value="@Model.Product.Id" />
            <div class="controls">
                <div class="qty">
                    <h5>Quantity</h5>
                   <input type="number" name="quantity" class="form-control" value="1" min="1" max="10" step="1" />
                </div>
            </div>
            <div class="shop-cart">
                <button type="submit">
                    <img src="http://co0kie.github.io/codepen/nike-product-page/cart.png" alt="">
                    <span>add to cart</span>
                </button>
            </div>
        </form>

    </div>

</div>